#menu
{
    background-color: #222D32;
    width: 230px;
    height: 100%;
    color: #B8C7CE;
    position: fixed;
}
#menu a
{
    color: #B8C7CE;
}

html, body {
    height: 100%;
    width: 100%;

}

#list
{
    background-color: lightblue;
    width: 100%;
    height: 100%;
    padding-left: 270px;
}

#pagetitle
{
    font-size: 30px;
}

/*td, th*/
/*{*/
    /*border: solid 1px;*/
    /*margin: 10px;*/


/*}*/